

/*
This is a common way to prevent content touching the side of the screen e.g. mobile phones
*/
.main-container {
  color: #fafafa;
  padding: 0 2em;
}

article {
  max-width: 75em;
  margin: 0 auto;
}

.project-title,
.project-subtitle,
h3,
h4 {
  font-weight: 300;
}

.project-title {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: orange;
  margin-top: 20px;
}

.project-subtitle {
  font-size: 20px;
  color: orange;
}

/*
Most well designed websites use lots of spacing to make content easier to consume. It will ultimately depend on the design you want/need to achieve
*/
p {
  line-height: 1.6;
}

/*
setting max-width: 100% on images by default is for most projects a good choice to prevent them overflowing and scaling nicely
*/
.card-preview > img {
  display: block;
  max-width: 100%;
}

/*
I reused your grid-styling here to make it easier to follow for you. I usually only use flexbox since I still need to fully support IE11 but learning and using Grid is a good choice.
*/
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,   minmax(250px, 1fr));
  gap: 1.8em; 
}

/* Gap is the space between Cards */

/*
CARD-STYLES
*/
.card {
  box-shadow: 0px 2px 4px 10px rgba(135, 73, 15, 0.2);
  background-color: #23321d;
}

/*
With the following styles I add a nice little transition to give the user feedback for hovering.

A common usecase for those portfolio-cards is to use some kind of link on the card to redirect the user to the specific project.
*/
.card-preview {
  overflow: hidden;
}

.card-preview__img {
  transition: 0.2s;
}

/*
We use pseudo-classes here if you haven't learned about them yet.
Focus is added in addition for people who use their keyboard for various reasons.
*/
.card:hover .card-preview__img,
.card:focus .card-preview__img {
  transform: scale(1.1);
}

.card-content {
  padding: 1em;
}

.card-content__title {
  color: orange;
  font-size: 1.7em;
  font-weight: 600;
  margin: 0.5em 0 1em;
}

.card-content__text{
  font-size: 1.4em;
}

.view-button{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
}

.view-button p a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: orange;
  padding: 7px;
  border: 1px solid #f38c04;
  border-radius: 5px;
 
}

small{
  font-size: 1.1rem;
  color: orange;
}




@media (min-width: 1280px) and (max-width: 1370px){
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,   minmax(280px, 1fr));
    gap: 1.8em; 
  }
}



@media (min-width: 1500px) and (max-width: 2000px){
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,   minmax(350px, 1fr));
    gap: 1.8em; 
  }

}