*{
    margin: 0;
    padding: 0;
}

.Home{
    /* margin-top: 5%;
    margin-bottom: 10%; */
}

img{
    height: 200px;
    width: 200px;
    justify-content: center;
    margin: 5% 45% 5%;
    /* margin-bottom: 20%; */
    border-radius: 50%;

}